@use './fonts';

body {
  height: 100vw;
  width: 100vh;
  background-color: #59eeee;
}
header {
  height: 10vh;
  font-family: fonts.$title;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
img {
  filter: blur(6px);
  -webkit-filter: blur(6px);
  height: 80vh;
  width: auto;
}
}
footer {
  height: 10vh;
}